h1,
p,
span {
  margin: 0;
}

h1 {
  color: var(--accent-color);
  font-size: 2rem;
  line-height: 39.01px;
}

.text-body {
  font-size: 1rem;
  line-height: 22.4px;
}

small,
.text-small {
  font-size: 0.875rem;
  line-height: 17.07px;
}
