:root {
  --surface-color: #ffffff;

  --block-color: #fdfdfd;
  --block-color-active: #e0e0e0;
  --block-color-separate: #dededd;

  --dark-color: #333333;
  --accent-color: #e31f24;

  --secondary-color: #76787d;
  --secondary-color-lighten: #e9ecef;
}
